.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Reset CSS Cross Browser */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Concrete CSS Layout */
body{margin:0;padding:0}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.row{overflow:hidden;max-width:1024px;min-width:768px;margin:0 auto}.row:after{content:"";display:table;clear:both}.row .row{max-width:100%;min-width:100%}.column,.columns{float:left;padding-left:10px;padding-right:10px}.column .column:first-of-type,.column .columns:first-of-type,.columns .column:first-of-type,.columns .columns:first-of-type{padding-left:0}.column .column:last-of-type,.column .columns:last-of-type,.columns .column:last-of-type,.columns .columns:last-of-type{padding-right:0}.column.without-padding,.columns.without-padding{padding-left:0;padding-right:0}.column.one,.columns.one{width:8.33333%}.column.two,.columns.two{width:16.66667%}.column.three,.columns.three{width:25%}.column.four,.columns.four{width:33.33333%}.column.five,.columns.five{width:41.66667%}.column.six,.columns.six{width:50%}.column.seven,.columns.seven{width:58.33333%}.column.eight,.columns.eight{width:66.66667%}.column.nine,.columns.nine{width:75%}.column.ten,.columns.ten{width:83.33333%}.column.eleven,.columns.eleven{width:91.66667%}.column.twelve,.columns.twelve{width:100%}.offset.by-one{margin-left:8.33333%}.offset.by-two{margin-left:16.66667%}.offset.by-three{margin-left:25%}.offset.by-four{margin-left:33.33333%}.offset.by-five{margin-left:41.66667%}.offset.by-six{margin-left:50%}.offset.by-seven{margin-left:58.33333%}.offset.by-eight{margin-left:66.66667%}.offset.by-nine{margin-left:75%}.offset.by-ten{margin-left:83.33333%}.offset.by-eleven{margin-left:91.66667%}@media handheld, only screen and (max-width: 767px){.row{width:100%;min-width:0}.offset.by-one,.offset.by-two,.offset.by-three,.offset.by-four,.offset.by-five,.offset.by-six,.offset.by-seven,.offset.by-eight,.offset.by-nine,.offset.by-ten,.offset.by-eleven{margin-left:0}.column.one,.column.two,.column.three,.column.four,.column.five,.column.six,.column.seven,.column.eight,.column.nine,.column.ten,.column.eleven,.column.twelve,.columns.one,.columns.two,.columns.three,.columns.four,.columns.five,.columns.six,.columns.seven,.columns.eight,.columns.nine,.columns.ten,.columns.eleven,.columns.twelve{width:auto;float:none;padding-left:10px;padding-right:10px}.column .column,.column .columns,.columns .column,.columns .columns{padding-left:0;padding-right:0}}

/* Flickity JS Carousel */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:#fff}.flickity-prev-next-button:focus{outline:0;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{filter:alpha(opacity=30);opacity:.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-prev-next-button.no-svg{color:#333;font-size:26px}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;filter:alpha(opacity=25);opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}

/* Yarwell Layout */
body {
  font-family: 'Vollkorn', serif;
  font-size: 1.1em;
  line-height: 1.4em;
  color: #424242;
  background-color: #6a6b69;
  background-image: url(./css/blur-background.jpg);
  background-repeat: repeat-x;
  background-position: center 120px;
}
header {
  height: 120px;
  position: relative;
  z-index: 10;
  background-color: #f2f2f2;
}
main {
  max-width: 1277px;
  margin: auto;
  position: relative;
  z-index: 5;
  background-color: #f2f2f2;
}
footer {
  position: relative;
  z-index: 5;
  background-color: #262626;
  color: #5b5b5b;
}
header a {
  color: #292929;
  text-decoration: none;
}
main a {
  color: #3f8d2f;
  text-decoration: underline;
}
footer a {
  color: #fff;
  text-decoration: none;
}
header .row, footer .row {
  max-width: 1177px;
  overflow: visible;
}
header .menuColumn, footer .menuColumn. footer .copyrightColumn {
  text-align: left;
}
header .logoColumn, section.feature, h1, footer .termsColumn {
  text-align: center;
}
header .directionsColumn, footer .contactColumn {
  text-align: right;
}
header *, footer * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.content {
  padding: 40px 0;
}
section.content .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.feature {
  background-color: #fff;
  padding: 80px 0;
}
header .logoColumn {
  padding-top: 25px;
  position: relative;
}
header .headerLogo {
  position: absolute;
  width: 100%;
}
header .headerLogo a {
  display: inline-block;
  width: 264px;
  height: 215px;
  background-image: url(./css/logo-header-small.png);
  background-position: center;
  background-repeat: no-repeat;
}
header .menuColumn, header .directionsColumn {
  padding-top: 30px;
}
header .facebookColumn {
  padding-top: 33px;
  padding-left: 30px;
  text-align: right;
}
header .menuColumn {
  position: relative;
}
header nav.menu {
  position: absolute;
  left: -9999px;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
  opacity: 0;
  z-index: 50;
  width: 360px;
  top: 0px;
  background-color: #fff;
  padding: 110px 45px 35px 45px;
  text-align: left;
}
header nav.menu a {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #e6e6e6;
  display: block;
  height: 40px;
  line-height: 42px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav.menu:hover a:hover {
  color: #3F8D2F;
  padding-left: 5px;
}
header nav.menu li:last-child a {
  border-bottom: 0px;
}
header .menuColumn.delay nav.menu {
  left: -50px;
}
header .menuColumn.active nav.menu {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  left: -50px;
}
header .menuToggle {
  cursor: pointer;
  position: relative;
  z-index: 100;
  width: 170px;
}
header .menuToggle a {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 10px 10px 10px 0px;
}
header .menuToggle div {
  float: left;
  height: 50px;
  position: relative;
  padding-top: 13px;
  margin-right: 25px;
}
header .menuToggle span {
  background-color: #4b4846;
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
header .menuColumn.active .menuToggle span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
header .menuColumn.active .menuToggle span:nth-child(2) {
  opacity: 0;
}
header .menuColumn.active .menuToggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
  -moz-transform: rotate(-45deg) translate(7px, -7px);
  -o-transform: rotate(-45deg) translate(7px, -7px);
  -ms-transform: rotate(-45deg) translate(7px, -7px);
  transform: rotate(-45deg) translate(7px, -7px);
}
header .directionsColumn a {
  display: inline-block;
  background-image: url(./css/icon-google-marker.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 60px;
  width: 177px;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1em;
  min-height: 61px;
  padding-top: 10px;
}
footer .menuColumn ul {
  float: left;
  margin-right: 80px;
}
footer .menuColumn ul li {
  display: block;
  margin-bottom: 8px;
}
footer .menuColumn a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.95em;
}
footer .menuColumn, footer .contactColumn {
  padding-top: 70px;
}
footer .copyrightColumn, footer .termsColumn {
  font-size: 0.8em;
  height: 60px;
  display: table;
  margin: 30px 0 50px 0;
}
footer .copyrightColumn p, footer .termsColumn p {
  padding: 0px;
  vertical-align: bottom;
  display: table-cell;
}
footer .copyrightColumn a, footer .termsColumn a {
  color: #999;
}
footer .contactColumn img {
  display: block;
  margin: auto;
}
footer .contactLinks {
  display: block;
  margin: auto;
  width: 270px;
  padding-left: 25px;
}
footer .contactLinks a {
  display: block;
  text-align: left;
  padding-left: 35px;
  background-position: center left;
  background-repeat: no-repeat;
  letter-spacing: 3px;
  margin: 10px 0px;
}
footer .contactLinks a.telephone {
  background-image: url(./css/icon-phone.png);
}
footer .contactLinks a.email {
  background-image: url(./css/icon-email.png);
}

/* Yarwell Typography */
p {
  padding: 15px 0;
  text-align: left
}
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 2px;
  line-height: 1.3em;
}
h1 {
  font-size: 1.6em;
  padding-bottom: 0px;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  padding-bottom: 0px;
}
hr {
  border: 0px;
  height: 2px;
  background-color: #e1e1e1;
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: 400px;
}
a.button {
  color: #fff;
  background-color: #3f8d2f;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 25px;
  height: 40px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 18px 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.button:hover {
  background-color: #77BD69;
}
blockquote {
  padding: 20px;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  margin: 80px 50px;
  font-style: italic;
}

/* Styles */
.flickity-page-dots {
  bottom: 40px;
  text-align: right;
  padding-right: 32px;
}
.flickity-page-dots .dot {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid #fff;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  opacity: 1;
}
.flickity-page-dots .dot.is-selected {
  border: 0px;
  background-color: #fff;
}
.home h1 {
  font-size: 1.1em;
}
.home hr {
  background-color: transparent;
  background-image: url(./css/horizontal-rule.png);
  height: 69px;
  margin: 0px auto 40px auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.home header .headerLogo a {
  background-image: url(./css/logo-header-large.png);
  width: 264px;
  height: 282px;
}
.banner .strip {
  height: 78px;
  background-image: url(./css/inner-page-strip.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.breadcrumbs {
  text-transform: uppercase;
  color: #3f8d2f;
  font-size: 0.9em;
  padding-bottom: 20px;
  text-align: left
}
.breadcrumbs a {
  text-decoration: none;
  color: #7d7d7c;
}
.breadcrumbs span {
  display: inline-block;
  padding: 0 5px;
}
section.content img {
  display: inline-block;
  padding-bottom: 15px;
  max-width: 100%;
  height: auto;

}
section.banner .slide {
  width: 100%;
}

/* Responsive */
@media handheld, only screen and (max-width: 1370px){
  main {
    margin: 0 30px;
  }
}
@media handheld, only screen and (max-width: 1275px){
  body {
    font-size: 1em;
  }
  header {
    height: 110px;
  }
  header .row, footer .row {
    min-width: 710px;
    padding: 0 20px;
  }
  header nav.menu {
    width: 275px;
  }
  header .menuColumn.active nav.menu, header .menuColumn.delay nav.menu {
    left: -30px;
  }
  .row {
    padding: 0 35px;
    min-width: 690px;
  }
  section.banner .slideshow img {
    display: block;
    width: 100%;
    height: auto;
  }
  .home header .headerLogo a, header .headerLogo a {
    width: 264px;
    height: 215px;
    background-image: url(./css/logo-header-small.png);
  }
  main {
    font-size: 0.9em;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .banner .strip {
    background-position: -273px;
  }
  .row, header .row, footer .row {
    min-width: 0;
    padding: 0 15px;
  }
  header {
    height: 85px;
  }
  header .menuColumn, header .directionsColumn {
    padding-top: 20px;
  }
  main {
    margin: 0;
  }
  body, html {
    background-image: none;
  }
  header > .row {
    position: relative;
  }
  header .logoColumn {
    position: absolute;
    top: -15px;
    right: 0px;
  }
  header .headerLogo {
    position: static;
    width: auto;
  }
  .home header .headerLogo a, header .headerLogo a {
    width: 150px;
    height: 150px;
    background-size: contain;
  }
  header .directionsColumn.columns.two {
    position: fixed;
    z-index: 150;
    width: 100%;
    left: 0px;
    background-color: #fff;
    padding: 10px 20px;
    bottom: 0px;
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  }
  header .facebookColumn.columns.two {
    position: fixed;
    z-index: 151;
    width: 30%;
    left: 10px;
    background-color: #fff;
    padding: 5px 5px 0px;
    bottom: 0px;
    text-align: left;
  }
  blockquote {
    margin: 20px 5px;
  }
  header .directionsColumn a {
    width: 100%;
    font-size: 1.1em;
    background-size: 25px;
    min-height: 35px;
    padding-right: 35px;
    text-align: right;
  }
  header nav.menu {
    padding-top: 75px;
  }
  header .menuToggle a {
    opacity: 0;
  }
  .flickity-page-dots {
    display: none;
  }
  main .column, main .columns {
    padding-bottom: 10px;
  }
  section.feature {
    padding: 60px 0;
  }
  main .feature .column, main .feature .columns {
    padding-bottom: 45px;
  }
  h4, .home hr {
    margin: 0px;
  }
  section.content {
    padding: 10px 0;
  }
  footer {
    padding-bottom: 100px;
  }
  footer .menuColumn ul {
    float: none;
    margin: 0px;
    text-align: center;
  }
  header .directionsColumn, footer .contactColumn {
    text-align: center;
  }
  footer .copyrightColumn, footer .termsColumn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
    height: auto;
  }
  footer .copyrightColumn p, footer .termsColumn p {
    display: block;
    width: 100%;
  }
  footer .contactLinks {
    display: inline-block;
    width: auto;
    padding: 0px;
  }
  footer .menuColumn, footer .contactColumn {
    padding-top: 40px;
  }
}
